.time_top_box {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: "幼圆", serif;
    margin-top: 8rem;
    margin-left: 1.5rem;
}

.back_logo{
    position: absolute;
    top: 0;
    right: 0;
    width: 8rem;
}

.time_top_box h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.time_context{
    width: 100%;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    margin-top: 1.5rem;
    padding: 1rem;
    flex-shrink: 0;
}

.time_context_top{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "幼圆", serif;
}

.time_context_top .timeText{
    position: relative;
    right: -100px;
}

.time_context_info{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button_box{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_box .but{
    margin: 0 2rem;
    border-radius: 0.5rem;
    width: 8rem;
}

#Masking{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qq_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: "幼圆", serif;
}
.qq_box img{
    width: 10rem;
    margin-bottom: 2rem;
}
.qq_box h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.back_logo{
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
.time_top_box{
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
.time_context_top{
    animation-duration: 8s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
.time_context{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.__code_email{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
/* 选择单数 */
.van-cell:nth-child(odd) {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
/* 选择双数 */
.van-cell:nth-child(even) {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}

.button_box{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}